/* フォント設定 */
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.font-display {
    font-family: 'Pacifico', cursive;
}

/* アイコンをど真ん中に配置するための設定 */
.icon-animate, .icon-animate-modal {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* 消えないようにサイズを調整 */
.icon-animate svg, .icon-animate-modal svg {
    width: 64px;
    height: 64px;
    stroke-width: 1.5;
}

/* ホバー時の動き */
.group:hover .icon-animate svg {
    transform: scale(1.1) rotate(5deg);
    transition: transform 0.3s ease;
}

/* ボタンの共通スタイル */
.wakatta-button {
    background-color: #FF8DA1;
    color: white;
    border-radius: 9999px;
    font-weight: bold;
    transition: all 0.3s;
}
.wakatta-button:hover {
    background-color: #ff758f;
    transform: scale(1.05);
}

.wakatta-button-blue {
    background-color: #5F9EA0;
    color: white;
    border-radius: 9999px;
    font-weight: bold;
    transition: all 0.3s;
}
.wakatta-button-blue:hover {
    background-color: #4d8284;
    transform: scale(1.05);
}

/* カート内のスクロールバー */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #FDF9F2;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #B0E0E6;
    border-radius: 10px;
}
